:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: 'Oxygen mono', monospace;
    --sans: Oxygen, sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--sans);
    font-size: var(--font-size);
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: var(--magenta);
    text-decoration: underline;
}

a:hover {
    color: var(--hotmag);
    text-decoration: none;
}

img {
    width: 100%;
}

/* background colour divs */

.section-plum {
    background-color: var(--plum);
}

.section-dkblue {
    background-color: var(--dkblue);
}

.gradient {
    background: linear-gradient(
        90deg,
        rgba(255, 23, 228, 1) 0%,
        rgba(134, 251, 1) 100%
    );
    height: 2px;
}

/* navbar */

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    /*this puts the title on its own line*/
    text-align: center;
    /*border: 1px solid var(--plum);*/
}

nav [class*='fa-'] {
    font-size: 150%;
    color: var(--aqua);
}

nav h1 [class*='fa-'] {
    font-size: 100%;
    color: var(--aqua);
}

nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*='fa-']:hover,
footer [class*='fa-']:hover {
    color: var(--magenta);
}

.button {
    background-color: var(--magenta);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 4px;
    font-family: var(--mono);
    text-decoration: none;
}

.button:hover {
    color: var(--white);
    background-color: var(--hotmag);
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}

/* intro style */

#intro {
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
}

#intro h2 {
    font-size: 4rem;
    font-weight: normal;
}

/* projects */

.blackbox {
    background-color: var(--black);
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 8px;
    padding: 1rem;
}

#projects {
    padding: 4rem 1rem;
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}
#projects h3 {
    color: var(--aqua);
}

#projects h4 {
    font-size: 1rem;
    font-family: var(--mono);
    margin: 0;
}

#projects ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 1rem;
    font-size: 1rem;
}



#projects img {
    margin: 2rem 0 4rem 0;
    border-left: 1px solid var(--aqua);
    border-top: 1px solid var(--aqua);
    border-radius: 25px;
    padding: 1rem;
}

@media (min-width: 550px) {
    article {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
    }
    #projects img {
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .text {
        grid-column: 5/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
    }
    #projects .reverse .text {
        grid-column: 1/7;
        order: 2;
        text-align: left;
    }
    
    #projects .reverse img {
        grid-column: 6/11;
        grid-row: 1/2;
    }
    
    #projects .reverse ul {
        justify-content: flex-start;
    }
}

@media (min-width: 800px) {
    article {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    #projects {
        max-width: 1200px;
        margin: 0 auto;
    }
    #projects img {
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .text {
        grid-column: 5/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
    }
    #projects ul {
        justify-content: flex-end;
    }
    #projects .reverse .text {
        grid-column: 1/7;
        order: 2;
        text-align: left;
    }
    
    #projects .reverse img {
        grid-column: 6/11;
        grid-row: 1/2;
    }
    
    #projects .reverse ul {
        justify-content: flex-start;
    }
}

/* contact */

#contact {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}

#contact p:last-child {
    margin-top: 3rem;
}

/* footer */

footer {
    text-align: center;
    padding: 2.5rem;
}

footer h2 {
    font-size: 1.8rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 2rem;
}

footer [class*='fa-'] {
    color: var(--aqua);
}
